# SPDX-FileCopyrightText: 2022 Calvin Walton
#
# SPDX-License-Identifier: CC0-1.0

# Tests
pytest
PyYAML

# Code formatting
black

# Type checking/linting
mypy
types-PyYAML

# Documentation
sphinx
sphinx-autodoc-typehints
